/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5e6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293b;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
nav {
  background: #f6f6f6;
  color: #454a59;
}
nav .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 2px solid #f1f1f1;
}
nav .container h1 {
  width: 100%;
  text-align: center;
  font-family: "Russo One";
  font-size: 4.2rem;
  color: inherit;
  padding: 2rem 0 1rem;
}
nav .container a {
  text-decoration: none;
  font-size: 2rem;
  color: inherit;
  padding: 1rem 1.5rem;
}
nav .container a:hover {
  text-decoration: underline;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .intro img {
  border-radius: 5px;
}
@media screen and (max-width:500px) {
  .home .intro img {
    width: 100%;
  }
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
@media screen and (max-width:500px) {
  .home .space-images img {
    width: 90%;
    margin: 20px auto;
  }
  .home .space-images img:not(:first-child) {
    display: none;
  }
}
.home .visit-planets {
  padding: 15px;
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width:500px) {
  .home .walk {
    flex-wrap: wrap;
    margin-top: 3rem;
    padding: 2rem;
  }
}
.home .walk .walk-text {
  width: 50%;
}
@media screen and (max-width:500px) {
  .home .walk .walk-text {
    width: 100%;
  }
}
.home .walk .walk-text h3 {
  margin-bottom: 10px;
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
.home .walk .walk-text .btn {
  cursor: pointer;
  display: inline;
  background: #22283a;
  color: #f6f7f8;
  padding: 0.5rem 1.5rem;
  font-size: 2rem;
  border: 2px solid #22283a;
  border-radius: 5px;
  transition: all 500ms;
}
.home .walk .walk-text .btn:hover {
  background: #f6f7f8;
  color: #22283a;
  padding: 0.5rem 2rem;
}
@media screen and (max-width:500px) {
  .home .walk .walk-text .btn {
    display: block;
    padding: 2rem;
    text-align: center;
  }
}
.home .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
@media screen and (max-width:500px) {
  .home .walk .walk-img {
    width: 100%;
    margin: 0 0 2rem 0;
    order: -1;
  }
}
.home .walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.contact h2 {
  padding: 15px;
}
.contact p {
  padding: 0 15px;
}
.contact img {
  border-radius: 5px;
}
@media screen and (max-width:500px) {
  .contact img {
    width: 100%;
  }
}
form {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}
form .column {
  width: 50%;
  padding: 0 1.5rem;
}
form .column div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 5% 0;
}
form .column div label {
  font-size: 2.2rem;
}
form .column div input {
  width: 60%;
  margin: 0 0 1rem 0.5rem;
}
@media screen and (max-width:500px) {
  form .column div input {
    width: 100%;
    margin: 0.5rem 0;
  }
}
form textarea {
  width: 50%;
}
form .btn {
  cursor: pointer;
  background: #22283a;
  color: #f6f7f8;
  padding: 0.5rem 1.5rem;
  font-size: 2rem;
  border: 2px solid #22283a;
  border-radius: 5px;
  margin: 2rem 55% 0 auto;
  transition: all 500ms;
}
form .btn:hover {
  background: #f6f7f8;
  color: #22283a;
  padding: 0.5rem 2rem;
}
@media screen and (max-width:500px) {
  form .btn {
    width: 75%;
    margin: 2rem auto 0;
    text-align: center;
  }
}
